tabases:
  - name:db.sqlite3
    plan: free
    databaseName: db.sqlite3
    user: db.sqlite3

services:
  - type: web
    plan: free
    name: djangoProject
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "python -m gunicorn djangoProject.asgi:application -k uvicorn.workers.UvicornWorker"    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: db.sqlite3
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
